In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("heart2.csv",encoding="latin-1")
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [3]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [4]:
pd.crosstab(df['sex'],df["thalach"], margins=True)

thalach,71,88,90,95,96,97,99,103,105,106,...,185,186,187,188,190,192,194,195,202,All
sex,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,3,4,0,0,0,3,...,0,0,0,0,0,3,0,0,0,312
1,4,3,3,4,4,0,3,8,10,0,...,3,6,3,3,4,0,3,3,4,713
All,4,3,3,4,7,4,3,8,10,3,...,3,6,3,3,4,3,3,3,4,1025

In [5]:
df['target'].value_counts()

target
1    526
0    499
Name: count, dtype: int64

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [11]:
X = np.asarray(df.iloc[:,:13])
y = np.asarray(df.target)
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
from sklearn import svm
classifier = svm.SVC(kernel = 'linear',gamma='auto', C=2)
classifier.fit(X_train,y_train)

SVC(C=2, gamma='auto', kernel='linear')

In [13]:
y_predict = classifier.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.87      0.74      0.80       159
           1       0.76      0.89      0.82       149

    accuracy                           0.81       308
   macro avg       0.82      0.81      0.81       308
weighted avg       0.82      0.81      0.81       308

In [14]:
from sklearn.metrics import confusion_matrix
karmaşıklık_matrisi = confusion_matrix(y_test, y_predict)
print(karmaşıklık_matrisi)

[[117  42]
 [ 17 132]]

In [15]:
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     52    1   0       125   212    0        1      168      0      1.0
1     53    1   0       140   203    1        0      155      1      3.1
2     70    1   0       145   174    0        1      125      1      2.6
3     61    1   0       148   203    0        1      161      0      0.0
4     62    0   0       138   294    1        1      106      0      1.9
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
723   68    0   2       120   211    0        0      115      0      1.5
733   44    0   2       108   141    0        1      175      0      0.6
739   52    1   0       128   255    0        1      161      1      0.0
843   59    1   3       160   273    0        0      125      0      0.0
878   54    1   0       120   188    0        1      113      0      1.4

     slope  ca  thal  target
0        2   2     3       0
1        0   0     3       0
2        0   0     3       0
3        2   1     3       0
4        1   3     2       0
..     ...  ..   ...     ...
723      1   0     2       1
733      1   0     2       1
739      2   1     3       0
843      2   0     2       0
878      1   1     3       0

[302 rows x 14 columns]

In [16]:
X = np.asarray(df_no_duplicates.iloc[:,:13])
y = np.asarray(df_no_duplicates.target)
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
from sklearn import svm
classifier = svm.SVC(kernel = 'linear',gamma='auto', C=2)
classifier.fit(X_train,y_train)

SVC(C=2, gamma='auto', kernel='linear')

In [18]:
y_predict = classifier.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.88      0.77      0.82        48
           1       0.78      0.88      0.83        43

    accuracy                           0.82        91
   macro avg       0.83      0.83      0.82        91
weighted avg       0.83      0.82      0.82        91

In [19]:
from sklearn.metrics import confusion_matrix
karmaşıklık_matrisi = confusion_matrix(y_test, y_predict)
print(karmaşıklık_matrisi)

[[37 11]
 [ 5 38]]